Author: Montes-Herrera Juan Carlos \
e-mail: juancarlos.montesherrera@utas.edu.au

In [1]:
import os
import pandas as pd
from scipy.stats import mstats

In [2]:
#os.chdir('Notebooks/Data/Benthic_Cover_Analysis')

## Vector method comparison between sites

In [4]:
#import dataset
Data = pd.read_csv('SitesComparison_Shapes_method.csv')
Data

,Pocillopora,Coral-Fragments,Sand,Rock,Porites,Algae,Pavona,Not-classified
0,173.611,18.981,15.500,27.972,0.871,5.353,0.000,67.786
1,159.401,10.902,13.872,14.000,0.125,0.000,4.591,56.549

In [8]:
#Extract each column values
Poci = Data['Pocillopora'].values
Frag = Data['Coral-Fragments'].values
Sand = Data['Sand'].values
Rock = Data['Rock'].values
Porites = Data['Porites'].values
Algae = Data['Algae'].values
Pavona = Data['Pavona'].values
NoClas = Data['Not-classified'].values

print("Kruskal Wallis H-test test:")

#Statistical test
H, pval = mstats.kruskalwallis(Poci, Frag, Sand, Rock, Porites, Algae, Pavona, NoClas)

#Print results
print("H-statistic:", H)
print("P-Value:", pval)

if pval < 0.05:
    print("Reject Nule Hypothesis - Significative differences exist between locations")
if pval > 0.05:
    print("Accept Nule Hypothesis - No significative differences exist between locations")

Kruskal Wallis H-test test:
H-statistic: 13.575110456553762
P-Value: 0.05927552000537245
Accept Nule Hypothesis - No significative differences exist between locations

## Hue-Saturation-Brightness (HSB) method comparison between sites

In [9]:
Data = pd.read_csv('SitesComparison_HSB_method.csv')
Data

   Coralligenous  Sand-Rock  Not-classified
0        224.056     97.003          60.543
1        142.277     53.714          27.255

In [10]:
Coralligenous = Data['Coralligenous'].values
SandRock = Data['Sand-Rock'].values
NoClas = Data['Not-classified'].values

print("Kruskal Wallis H-test test:")

H, pval = mstats.kruskalwallis(Coralligenous, SandRock, NoClas)

print("H-statistic:", H)
print("P-Value:", pval)

if pval < 0.05:
    print("Reject Nule Hypothesis - Significative differences exist between locations")
if pval > 0.05:
    print("Accept Nule Hypothesis - No significative differences exist between locations")

Kruskal Wallis H-test test:
H-statistic: 3.7142857142857117
P-Value: 0.1561180453159713
Accept Nule Hypothesis - No significative differences exist between locations

## Methods comparison for Location 1 - Punta Galeras

In [11]:
Data = pd.read_csv('MethodsComparison_Location1.csv')
Data

   Coralligenous  Sand-Rock  Not-Classified
0        173.611     43.472          67.786
1        224.056     97.003          60.543

In [13]:
Coralligenous = Data['Coralligenous'].values
SandRock = Data['Sand-Rock'].values
NoClas = Data['Not-Classified'].values

print("Kruskal Wallis H-test test:")

H1, pval1 = mstats.kruskalwallis(Coralligenous, SandRock, NoClas)

print("H-statistic:", H1)
print("P-Value:", pval1)

if pval1 < 0.05:
    print("Reject Nule Hypothesis - Significative differences exist between methods")
if pval1 > 0.05:
    print("Accept Nule Hypothesis - No significative differences exist between methods")

Kruskal Wallis H-test test:
H-statistic: 3.428571428571427
P-Value: 0.18009231214795254
Accept Nule Hypothesis - No significative differences exist between methods

## Methods comparison for Location 2 - Punta Pichilingue

In [14]:
Data = pd.read_csv('MethodsComparison_Location2.csv')
Data

   Coralligenous  Sand-Rocks  Not-Classified
0        159.401      27.872          56.549
1        142.277      53.714          27.255

In [16]:
Coralligenous = Data['Coralligenous'].values
SandRock = Data['Sand-Rocks'].values
NoClas = Data['Not-Classified'].values
print("Kruskal Wallis H-test test:")

H2, pval2 = mstats.kruskalwallis(Coralligenous, SandRock, NoClas)

print("H-statistic:", H2)
print("P-Value:", pval2)

if pval2 < 0.05:
    print("Reject Nule Hypothesis - Significative differences exist between methods")
if pval2 > 0.05:
    print("Accept Nule Hypothesis - No significative differences exist between methods")

Kruskal Wallis H-test test:
H-statistic: 3.428571428571427
P-Value: 0.18009231214795254
Accept Nule Hypothesis - No significative differences exist between methods